
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  background: black;
  color: white;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
font-size: 20px;
}




.navbar {
  width: 100%;
  max-width: 1200px;
  height: 55px;
  background-color: #1c1c1c;
  margin: 50px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  border-radius: 4px;
	 z-index: 1; 
}

.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 100px;
  margin: 0;
  padding: 0;
}

.navbar a {
  color: #bfbfbf;
  text-decoration: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  transition: 0.3s;
	font-family: Arial;
	font-weight: bold;
}

.navbar li.active a { color: #baff00; top: -40px; position: relative; }
.navbar li a:hover { color: #C8FF50; }
.navbar li.clicked a { color: #baff00; }

.navbar a img { width: 24px; height: 24px; transition: transform 0.3s, filter 0.3s; }
.navbar a:hover img { transform: scale(1.2); filter: brightness(1.2); }



.page-container1 {
    display: grid;
    grid-template-columns: 3fr 1fr; /* 3/4 и 1/4 */
    gap: 20px;
	max-height: 414px;
    max-width: 1360px; 
    width: 100%;
    padding: 20px; 
    margin: 0 auto; 
    box-sizing: border-box;
	margin-top: 100px
}

.grid-container1 {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 20px;
	max-height: 414px;
}


.header {
display: grid;
place-items: center; 
font-family: Widock TRIAL;
font-size: 1.5rem; 
z-index: 1;
}

.header h1 {
margin: 0;
text-align: center;
}

.photo1 {
width: 100%;
overflow: hidden; 
height: auto;
display: block;
object-fit: cover;

}

.photo1 img {
width: 100%;
height: 40vh;
object-fit: cover; 
display: block;
}

.grid-container2 {  
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
	max-height: 414px;
}

.photo2 {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.photo2 img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}


.page-container2 {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr; 
    gap: 20px;
    max-width: 1360px;
	max-height: 580px;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    box-sizing: border-box;
   
}

.grid-container3 {
   display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
	max-height: 580px;
	margin-top: 20px;
	max-width: 100%;
}


.photo3 img {
    width: 100%;
	overflow: hidden; 
	height: auto;
	display: block;
	object-fit: cover;
	max-height: 353px;
	max-width: 100%;
}


.photo5 img {
    width: 100%;
	overflow: hidden; 
	height: auto;
	display: block;
	object-fit: cover;
	max-height: 207px;
	max-width: 100%;
}




.grid-container4 {
    display: grid;
    grid-template-columns: 1fr;
	margin-top: 20px;
	max-width: 325px;
	
}

.photo4 {
    display: flex;
    justify-content: flex-start;
    max-height: 353px;
	max-width: 325px;
}

.photo4 img {
    width: 100%;
	overflow: hidden; 
	height: auto;
	display: block;
	object-fit: cover;
	max-height: 353px;
	max-width: 325px;
}

.grid-container5 {
    display: grid;
    grid-template-columns: 1fr;
	margin-top: 20px;
	max-width: 900px;
	max-height: 580px;
	
	
}

	.photo6 {
   max-width: 900px;
	max-height: 580px; 
	margin-left: -345px;
	
	

    clip-path: polygon(
        345px 0,
        900px 0,
        900px 580px,
        0 580px,
        0 373px,
        345px 373px
    );
}

.photo6 img {
    width: 100%;
	max-height: 580px; 
    object-fit: cover;   
}


.page-container1 img,
.page-container2 img {
    filter: grayscale(100%);
    transition: filter 0.3s ease;
    cursor: pointer;
}

.page-container1 img:hover,
.page-container2 img:hover {
    filter: grayscale(0%);
}


.modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    max-width: 80%;
    max-height: 80%;
}


.text {
	max-width: 1360px;
	margin-top: 100px;
	line-height: 1.6;
	width: 100%;
	text-align: left;
	z-index: 1;
}

.a {
color: #ff00a0	
}

.b {
color: #baff00
}

.text2 {
	margin-top: 100px;
	font-size: 30px;
	line-height: 1.6;
	z-index: 1;
}

.about {
	margin-top: 250px;
	max-width: 1360px;
	text-align: right;
	width: 100%;
	font-family: Widock TRIAL;
	font-size: 65px;
	z-index: 1;
}

.about-img {
	max-width: 1360px;
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
    align-items: flex-start;    
    margin-top: 100px;
	z-index: 1;
	
}

.na-doske {          
    width: 440px; 
    height: 566px;
    object-fit: cover; 
	z-index: 1;
}



.rect {
    width: 670px;
    border: 4px solid #ff00a8;
    padding: 25px 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
	z-index: 1;
}

.SUNSET_CONTAINER {
    display: flex;
    align-items: flex-start; 
    gap: 40px; 
    margin-top: 150px;
    max-width: 1360px;
    width: 100%;
	z-index: 1;
}

.SUNSET {
	margin-top: 150px;
	max-width: 1360px;
	width: 100%;	
	align-items: flex-start;
	z-index: 1;
	
}

.boje {
	font-family: Widock TRIAL;
	font-size: 80px;
	color: #5a0099;
	text-align: left;
	z-index: 1;
}

.SUNSET_TEXT {
    flex: 1; 
}

.two {
    width: 440px; 
    height: 566px;
    object-fit: contain;
	z-index: 1;
}

.countdown-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 100px;
	z-index: 1;
}

.countdown-text {
  font-family: 'Widock TRIAL', sans-serif;
  font-size: 40px;
  text-align: center;
  margin-bottom: 100px;
	z-index: 1;
}


.merch-btn {
  background-color: #ff00a0;
  color: white;
  border: none;
  padding: 15px 100px;
  border-radius: 60px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
	z-index: 1;
}

.merch-btn:hover {
  background-color: #5a0099;
  color: white;
}

.bu-btn {
	background-color: #baff00;
  color: black;
  border: none;
  padding: 15px 100px;
  border-radius: 60px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
	z-index: 1;
}

.bu-btn:hover { background-color: #5a0099; color: white; }
.bu-btn:active { background-color: white; color: black; }


/*  футер  */
.site-footer {
  width: 100%;
  height: 150px;
  background-color: #1c1c1c;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
	z-index: 1;
}


.footer-wrapper {
  width: 100%;
  max-width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.footer-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin: 0;
  padding: 0;
}


.footer-menu a {
  color: #bfbfbf;
  text-decoration: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
	
}

.footer-menu li.active a {
  color: #baff00;
}

.footer-menu li a:hover {
  color: #98cc00;
}

.footer-menu a.tg,
.footer-menu a.cart {
  display: flex;
  align-items: center;
}

.footer-menu a img {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.footer-menu a:hover img {
  transform: scale(1.2);
  filter: brightness(1.2);
}

#mouseCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; 
   z-index: 0; 
}
